{% extends "base.html" %}{% block home %}
<section>
  <label class="form-control w-full max-w-xs">
    <select class="select select-secondary w-full max-w-xs">
      <option disabled selected>選擇地點</option>
      <option name="location" value="Keelung City">基隆市</option>
      <option name="location" value="New Taipei City">新北市</option>
      <option name="location" value="Taipei City">台北市</option>
      <option name="location" value="Hsinchu County">新竹縣</option>
      <option name="location" value="Hsinchu City">新竹市</option>
      <option name="location" value="Miaoli County">苗栗縣</option>
      <option name="location" value="Miaoli City">苗栗市</option>
      <option name="location" value="Taichung">台中</option>
      <option name="location" value="Miaoli County">苗栗縣</option>
      <option name="location" value="Miaoli City">苗栗市</option>
      <option name="location" value="Changhua County">彰化縣</option>
      <option name="location" value="Changhua City">彰化市</option>
      <option name="location" value="Nantou County">南投縣</option>
      <option name="location" value="Nantou City">南投市</option>
      <option name="location" value="Yunlin County">雲林縣</option>
      <option name="location" value="Chiayi County">嘉義縣</option>
      <option name="location" value="Chiayi City">嘉義市</option>
      <option name="location" value="Tainan City">台南市</option>
      <option name="location" value="Kaohsiung City">高雄市</option>
      <option name="location" value="Pingtung County">屏東縣</option>
      <option name="location" value="Pingtung City">屏東市</option>
      <option name="location" value="Yilan County">宜蘭縣</option>
      <option name="location" value="Yilan City">宜蘭市</option>
      <option name="location" value="Hualien County">花蓮縣</option>
      <option name="location" value="Hualien City">花蓮市</option>
      <option name="location" value="Taitung County">台東縣</option>
      <option name="location" value="Taitung City">台東市</option>
      <option name="location" value="Penghu County">澎湖縣</option>
      <option name="location" value="Green Island">綠島</option>
      <option name="location" value="Orchid Island">蘭嶼</option>
      <option name="location" value="Penghu County">金門縣</option>
      <option name="location" value="Matsu">馬祖</option>
      <option name="location" value="Lienchiang County">連江縣</option>
    </select>
  </label>
</section>
{% endblock %}
