<section
  x-data="{ selectedLocation: localStorage.getItem('selectedLocation') || '' }"
>
  <form
    action="{% url 'weather:index' %}"
    @submit="localStorage.setItem('selectedLocation', selectedLocation)"
    class="flex join"
  >
    <label class="form-control max-w-xs join-item">
      <select
        x-model="selectedLocation"
        name="location"
        class="select select-secondary w-full max-w-xs join-item"
      >
        <option disabled>選擇地點</option>
        <option value="Keelung">基隆市</option>
        <option value="New Taipei City">新北市</option>
        <option value="Taipei City">台北市</option>
        <option value="Hsinchu County">新竹縣</option>
        <option value="Hsinchu">新竹市</option>
        <option value="Miaoli">苗栗縣市</option>
        <option value="Taichung">台中市</option>
        <option value="Changhua County">彰化縣</option>
        <option value="Changhua City">彰化市</option>
        <option value="Nantou">南投縣市</option>
        <option value="Yunlin County">雲林縣</option>
        <option value="Chiayi County">嘉義縣</option>
        <option value="Chiayi City">嘉義市</option>
        <option value="Tainan City">台南市</option>
        <option value="Kaohsiung City">高雄市</option>
        <option value="Pingtung County">屏東縣</option>
        <option value="Pingtung City">屏東市</option>
        <option value="Yilan">宜蘭縣市</option>
        <option value="Hualien">花蓮縣市</option>
        <option value="Taitung">台東縣市</option>
        <option value="Penghu County">澎湖縣</option>
        <option value="Green Island">綠島</option>
        <option value="Orchid Island">蘭嶼</option>
        <option value="Penghu County">金門縣</option>
        <option value="Matsu">馬祖</option>
        <option value="Lienchiang County">連江縣</option>
      </select>
    </label>
    <button
      type="submit"
      class="btn btn-ghost join-item"
      style="
        border-color: var(
          --fallback-s,
          oklch(var(--s) / var(--tw-border-opacity))
        );
      "
    >
      送出
    </button>
  </form>
</section>
