<h1>hello world</h1>

<p>資料取得時間：{{time|date:"Y-m-d h:m:s"}}</p>

<p>溫度：{{temp_f.temp}}℉</p>
<p>最高溫度：{{temp_f.temp_max}}℉</p>
<p>最低溫度：{{temp_f.temp_min}}℉</p>
<p>體感溫度：{{temp_f.feels_like}}℉</p>

<p>溫度：{{temp_c.temp}}℃</p>
<p>最高溫度：{{temp_c.temp_max}}℃</p>
<p>最低溫度：{{temp_c.temp_min}}℃</p>
<p>體感溫度：{{temp_c.feels_like}}℃</p>
<p>{{wind_miles_hour.speed|floatformat:2}}m/h</p>
<p>{{wind_miles_hour.deg}}m/h</p>
<p>{{wind_miles_hour.gust|floatformat:2}}m/h</p>
<p>{{wind_knots.speed|floatformat:2}}</p>
<p>{{wind_knots.deg}}</p>
<p>{{wind_knots.gust|floatformat:2}}</p>
<p>蒲氏風級：{{wind_beaufort.speed|floatformat:2}}</p>
<p>蒲氏風級：{{wind_beaufort.deg}}</p>
<p>蒲氏風級：{{wind_beaufort.gust|floatformat:2}}</p>
<p>{{rain_1}}</p>
<p>{{rain_3}}</p>
<p>{{press_metric}}</p>
<p>{{press_imperial}}</p>
<p>{{visibility_metric}}</p>
<p>{{visibility_imperial}}</p>
<p>{{sunrise|date:"Y-m-d h:m:s"}}</p>
<p>{{sunset|date:"Y-m-d h:m:s"}}</p>
